dist: trusty

language: generic

sudo: required

addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - cmake

 script: 
      - sudo bash ./integration-tests/int-apps-install-uninstall.sh 
 
 matrix: fast_finish: true

after_success: |
  wget https://github.com/SimonKagstrom/kcov/archive/master.tar.gz &&
  tar xzf master.tar.gz &&
  cd kcov-master &&
  mkdir build &&
  cd build &&
  cmake .. &&
  make &&
  sudo make install &&
  cd ../.. &&
  rm -rf kcov-master &&
  mkdir -p coverage &&
  kcov coverage ./integration-tests/int-apps-install-uninstall.sh &&
  bash <(curl -s https://codecov.io/bash)

