[Unit]
Description=Sabnzbd

[Service]
User=sabnzbd
Group=sabnzbd
Type=forking
ExecStart=/usr/bin/python /usr/bin/sabnzbdplus --config-file /usr/share/sabnzbdplus/sabnzbdplus.ini --logging 1 --daemon --browser 1
Restart=on-failure
GuessMainPID=no
[Install]
WantedBy=multi-user.target
