[Unit]
Description=PyLoad
After=network.target

[Service]
User=ReplaceMe
Group=ReplaceMe
ExecStart=/usr/bin/python /opt/pyload/pyLoadCore.py

[Install]
WantedBy=multi-user.target
