[Unit]
Description=Ombi
After=syslog.target network.target

[Service]
User=ReplaceMe
Group=ReplaceMe

Type=simple
ExecStart=/usr/bin/mono /opt/ombi/Ombi.exe
TimeoutStopSec=30
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
