[Unit]
Description=Ombi - PMS Requests System
After=network-online.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/ombi/
ExecStart=/opt/ombi/Ombi
Type=simple
TimeoutStopSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target