[Unit]
Description=Glances
After=network.target

[Service]
User=ReplaceMe
Group=ReplaceMe
ExecStart=/usr/local/bin/glances -w
Restart=on-abort

[Install]
WantedBy=multi-user.target
