[Unit]
Description=NZBGet Daemon
Documentation=http://nzbget.net/Documentation
After=network.target

[Service]
User=ReplaceMe
Group=ReplaceMe
Type=forking
ExecStart=</path/to/nzbget> -D
ExecStop=</path/to/nzbget> -Q
ExecReload=</path/to/nzbget> -O
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
