[Unit]
Description=Transmission
After=network.target

[Service]
User=transmission
Type=forking
ExecStart=/usr/bin/transmission-daemon --log-error
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
GuessMainPID=no
[Install]
WantedBy=multi-user.target