[Unit]
Description=Ubooquity
After=network.target

[Service]
User=ReplaceMe
WorkingDirectory=/opt/ubooquity
ExecStart=/usr/bin/java -jar Ubooquity.jar -headless -remoteadmin
Restart=always

[Install]
WantedBy=multi-user.target
