[Unit]
Description=rTorrent
After=network.target

[Service]
User=ReplaceMe
Group=ReplaceMe
UMask=0002

Type=simple
KillMode=process
Restart=on-failure
ExecStart=/usr/bin/rtorrent -n -o import=/var/lib/rtorrent/rtorrent.rc

[Install]
WantedBy=multi-user.target